@import url("/fonts/inter/inter.css");
body {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
}

.box {
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
}

h3.box {
    padding: 30px;
}

html {
    font-family: "Inter";
    overflow-y: scroll;
    overflow-x: hidden;
}

.background {
    background-image: url("/lines.svg");
    background-repeat: no-repeat;
    z-index: -100;
    background-position: center;
    background-size: 200%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

header {
    background-color: #fff;
    margin: 0;
    padding-bottom: 30px;
    background-color: white;
    border-bottom: 2px solid black;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
}

header div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

header div p {
    font-size: 15px;
}

header div p a {
    color: #000;
}

input {
    margin: auto;
    width: 600px;
    max-width: 80%;
    display: flex;
    padding: 15px;
    margin-top: 30px;
    color: #111;
    font-size: var(--search-box-font-size);
    height: calc(var(--search-box-font-size) + 2px);
    font-family: "Inter", cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#search-result {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    margin: auto;
    max-width: 90%;
}

#search-result>div:not(.lds-spinner) {
    text-align: center;
    width: 800px;
    max-width: 80vw;
    min-height: calc( var(--search-result-title) + var(--search-result-artist) + var(--album-art-size) + 20px);
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-list-item h3 {
    font-size: var(--search-result-title);
}

.album-list-item p {
    font-size: var(--search-result-artist);
}

.album-list-item img {
    padding-top: 10px;
    width: var(--album-art-size);
    height: var(--album-art-size);
}

.album-list-item * {
    padding: 0;
    margin: 0;
}


/* For screens > 600px wide (the default) */

:root {
    --search-box-font-size: 15px;
    --search-result-title: 20px;
    --search-result-artist: 15px;
    --album-art-size: 500px;
}


/* For screens < 600px wide */

@media all and (max-width: 600px) {
     :root {
        --album-art-size: 80vw;
    }
    header div {
        flex-direction: column;
    }
    header div * {
        margin: 10px;
        margin-left: 20px;
    }
}

#search-result>div.album-error {
    min-height: 0;
}


/* Loading spinner */

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}